# Build directories
build/*
dist/*
public/*
**/out/*
**/.next/*
**/node_modules/*

# src/
**/reportWebVitals.*
**/service-worker.*
**/serviceWorkerRegistration.*
**/setupTests.*

# eslintrc
**/.eslintrc.*

# prettier
**/.prettier.*
**/prettier.config.*



# vite
**/vite.config.*

# tailwind
**/postcss.config.*
**/tailwind.config.*

# misc
**/jsconfig.json

# chadcn/ui
**/components/ui/**
